# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.DS_Store

# Logs
logs/
*.log

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentation
README.md
*.md

# Test data
**/test/**
src/test/
