app:
  api:
    version: 1.0.0
    title: CMCI Compte Rendu API
    description: API de gestion des comptes rendus quotidiens pour les disciples de Christ

# Configuration Swagger UI
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
